<?xml version="1.0"?>

<config>
    <modules>
        <RuMage_All>
            <version>1.0.1</version>
        </RuMage_All>
    </modules>
    <frontend>
        <layout>
            <updates>
                <rumageall>
                    <file>rumageall.xml</file>
                </rumageall>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <rumageall>
                    <file>rumageall.xml</file>
                </rumageall>
            </updates>
        </layout>
        <translate>
            <modules>
                <RuMage_All>
                    <files>
                        <default>RuMage_All_Adminhtml.csv</default>
                    </files>
                </RuMage_All>
            </modules>
        </translate>  
    </adminhtml>
    <global>
        <blocks>
            <rumageall>
                <class>RuMage_All_Block</class>
            </rumageall>
        </blocks>
        <helpers>
            <rumageall>
                <class>RuMage_All_Helper</class>
            </rumageall>
        </helpers>
    </global>
</config>