<?xml version="1.0"?>

<config>
    <modules>
        <RuMage_OAuth>
            <version>1.0.0</version>
        </RuMage_OAuth>
    </modules>
    <global>
        <helpers>
            <ruoauth>
                <class>RuMage_OAuth_Helper</class>
            </ruoauth>
        </helpers>
        <blocks>
            <ruoauth>
                <class>RuMage_OAuth_Block</class>
            </ruoauth>
        </blocks>
        <resources>
            <ruoauth_setup>
                <setup>
                    <module>RuMage_OAuth</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
            </ruoauth_setup>
        </resources>
        <models>
            <ruoauth>
                <class>RuMage_OAuth_Model</class>
                <resourceModel>ruoauth_mysql4</resourceModel>
            </ruoauth>
            <ruoauth_mysql4>
                <class>RuMage_OAuth_Model_Mysql4</class>
                <entities>
                    <service>
                        <table>rumage_oauth_service</table>
                    </service>
                </entities>
            </ruoauth_mysql4>
        </models>
    </global>
    <frontend>
        <routers>
            <ruoauth>
                <use>standard</use>
                <args>
                    <module>RuMage_OAuth</module>
                    <frontName>ruoauth</frontName>
                </args>
            </ruoauth>
        </routers>
        <translate>
            <modules>
                <RuMage_OAuth>
                    <files>
                        <default>RuMage_OAuth.csv</default>
                    </files>
                </RuMage_OAuth>
            </modules>
        </translate>
        <layout>
            <updates>
                <ruoauth>
                    <file>ruoauth.xml</file>
                </ruoauth>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ruoauth_admin>
                <use>admin</use>
                <args>
                    <module>RuMage_OAuth</module>
                    <frontName>ruoauth_admin</frontName>
                </args>
            </ruoauth_admin>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <RuMage_OAuth>
                    <files>
                        <default>RuMage_OAuth.csv</default>
                    </files>
                </RuMage_OAuth>
            </modules>
        </translate>
        <layout>
            <updates>
                <ruoauth>
                    <file>ruoauth.xml</file>
                </ruoauth>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <ruoauth>
            <vk>
                <popup_width>585</popup_width>
                <popup_height>359</popup_height>
            </vk>
            <ya>
                <popup_width>900</popup_width>
                <popup_height>550</popup_height>
            </ya>
            <mailru>
                <popup_width>580</popup_width>
                <popup_height>400</popup_height>
            </mailru>
            <odnoklassniki>
                <popup_width>680</popup_width>
                <popup_height>500</popup_height>
            </odnoklassniki>
            <facebook>
                <popup_width>585</popup_width>
                <popup_height>290</popup_height>
            </facebook>
            <google>
                <popup_width>500</popup_width>
                <popup_height>450</popup_height>
            </google>
        </ruoauth>
    </default>
</config>
